mixin Hero 
  +Section.py-4.pt-md-0.pb-8.pb-sm-11.mt-lg-n8
    .row
      .col-md-9.col-lg-7
        h1.fs-4.fs-md-6.fs-xl-7.mb-5.mb-lg-0.position-relative.z-index-2 Fotogency 
          span.fw-thin.text-300 deals with first class 
          span.text-400 photography  orphan services.
    .row.mt-md-n6
      .col-2.d-none.d-lg-block.mt-auto
        img(src=`${CWD}assets/img/home/img2.png` alt="").img-fluid
      .col-1.mt-auto.d-none.d-lg-block
        a(href="#footer").scroll-indicator.text-warning 
          span SCROLL 
          img(src=`${CWD}assets/img/icons/long-arrow.png` alt="")
      .col-lg-7.position-relative
        .position-relative.overflow-hidden.overflow-md-visible
          img(src=`${CWD}assets/img/home/img1.png` alt="").img-fluid
          .img-circle.p-5.p-md-7.rounded-circle
          .img-circle-2.p-5.p-md-7.rounded-circle
        .position-absolute.bottom-n100.col-11.mt-6.d-none.d-md-block
          p.fs-2.lh-1.text-400 There are many variations of passages of Lorem Ipsum available, but the majority 
          p.text-300 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        .position-absolute.start-0.bottom-0.d-lg-none
          a(href="#footer").scroll-indicator.text-warning 
            span SCROLL 
            img(src=`${CWD}assets/img/icons/long-arrow.png` alt="")
      .col-2.d-none.d-lg-block.mb-auto
        img(src=`${CWD}assets/img/home/img3.png` alt="").img-fluid
    